<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
  </configSections>
  <dataConfiguration defaultDatabase="ExampleDatabase"/>
  <connectionStrings>
    <add name="DoesNotExist" connectionString="Database=DoesNotExist;Server=(local)\SQLEXPRESS;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="ExampleDatabase" connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\Database\Logging.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
